<div class="row mb-3">
  <div class="col-md-2">
    {{#if album.lastfm_lg_image_url}}
      <img class="img-fluid" src="{{album.lastfm_xl_image_url}}">
    {{else}}
      <img height="174px" width="174px" src="http://www.chirpradio.org/_/img/placeholders/album-art.png">
    {{/if}}
  </div>
  <div class="col-md-10">
    <h1>{{album.title}}</h1>
    <h2>
      {{#if album.is_compilation}}
        <div class="badge badge-info">Compilation</div>
      {{else}}
        by <a href="/music/artist/{{getArtistKeyProp album.album_artist}}">{{{album.album_artist.name}}}</a>
      {{/if}}
    </h2> 
    <p>{{album.year}} - {{album.label}} {{#if album.disc_number}} – Disc {{album.disc_number}}{{/if}}</p>
    <ul class="list-inline">
    {{#each album.current_tags}}
      <li class="list-inline-item badge badge-secondary">{{formatTag this}}</li>
    {{/each}}
    </ul>
    {{> music/add-to-crate item=album name=title crates=crates}}
  </div>
</div>

{{#each reviews}}
<blockquote class="blockquote col-xl-9 py-3">
  <p class="mb-0">{{{unsafe_text}}}</p>
  <footer class="blockquote-footer">{{author.first_name}} {{author.last_name}} ({{formatDate created}})</footer>
</blockquote>
{{/each}}

{{#if comments.length}}
<h4>Comments</h4>
<ul class="list-unstyled">
{{#each comments}}
  <li>{{{unsafe_text}}} ({{author.first_name}} {{author.last_name}}, {{formatDate created}})</li>
{{/each}}
</ul>
{{/if}}

<h3>Tracks</h3>
<div class="track_list__header row ml-2 mt-3 py-1">
  {{#if album.is_compilation}}
    <h6 class="col-sm-4 track_title">Title</h6>
    <h6 class="col-sm-3">Artist</h6>
  {{else}}
    <h6 class="col-sm-7 track_title">Title</h6>
  {{/if}}
  <h6 class="col-sm-1 text-right">Length</h6>
  <h6 class="col-sm-1 text-right d-none d-md-block">Bit rate</h6>
  <h6 class="col-sm-3"></h6>
</div>
<div class="track_list ml-4">
{{#each tracks}}
  <div class="track_list__track row py-1 border-top">    
    {{#if ../album.is_compilation}}
      <div class="col-sm-4">
        <span class="track_title {{#if (isExplicit this)}}explicit{{/if}} {{#if (isRecommended this)}}recommended{{/if}}">{{title}}</span>
      </div>
      <div class="col-sm-3">{{track_artist.name}}</div>
    {{else}}
      <div class="col-sm-7">
        <span class="track_title {{#if (isExplicit this)}}explicit{{/if}} {{#if (isRecommended this)}}recommended{{/if}}">{{title}}</span> 
      </div>
    {{/if}}
    <div class="col-sm-1 text-right">{{formatMinutesAndSeconds duration_ms}}</div>
    <div class="col-sm-1 text-right d-none d-md-block">{{bit_rate_kbps}}kbps</div>
    <div class="col-sm-2">
      {{> music/add-to-crate item=this name=title crates=../crates fullWidth='true'}}
    </div>
  </div>
{{/each}}
</div>