{{> search/result.header title='Artists'}}
<div class="row no-gutters">
    {{#if results.hits.length}}
    <ul class="list-unstyled col">
        <li class="row no-gutters py-2">
            <div class="col">Artist</div>      
        </li>
    {{/if}}
    {{#each results.hits}}
        <li class="row no-gutters border-top py-2">
            <div class="col search_result__col">
                <a href="/music/artist/{{getArtistKeyProp _source}}">{{_source.name}}</a>
                <ul class="list-inline">
                    {{#each _source.current_tags}}
                    <li class="list-inline-item badge badge-secondary">{{formatTag this}}</li>
                    {{/each}}
                </ul>
            </div>  
                
        </li>
    {{else}}
        <p>No artists found</p>
    {{/each}}
    {{#if showAllLink}}
        <li class="border-top py-2">
            <a href="/music/search/artist?term={{term}}">view all {{results.count}} artists...</a>
        </li>
    {{/if}}
    {{#if results.hits.length}}
    </ul>
    {{/if}}
</div>