{{> search/result.header title='Artists'}}
<div class="row mb-4">
    {{#if results.hits.length}}
    <div class="col-sm-12">
        <div class="row py-2 mx-0">
            <h5 class="col">Artist</h5>      
        </div>
    {{/if}}
    {{#each results.hits}}
        <div class="row border-top py-2 mx-0">
            <div class="col search_result__col">
                <a href="/music/artist/{{getArtistKeyProp _source}}">{{_source.name}}</a>
            </div>                
        </div>
    {{else}}
        <p class="ml-3">No artists found</p>
    {{/each}}
    {{#if showAllLink}}
        <div class="border-top py-2">
            <a class="pl-3" href="/music/search/artist?term={{query.term}}">view all {{results.count}} artists...</a>
        </div>
    {{/if}}
    {{#if results.hits.length}}
    </div>
    {{/if}}
</div>