{{> search/result.header title='Reviews'}}
<div class="row mb-4 no-gutters">
    {{#if results.hits.length}}
    <ul class="list-unstyled col-sm-12 pl-0">
        <li class="row py-2">
            <h5 class="col-sm-1"></h5>
            <h5 class="col-sm-3">Artist</h5>
            <h5 class="col-sm-3">Album</h5>
            <h5 class="col-sm-5">Excerpts</h5>
        </li>
    {{/if}}
    {{#each results.hits}}
        <li class="border-top pt-2">
            <div class="row pb-2">
                <div class="col-sm-1 search_result__col">
                    <a href="/music/album/{{_source.subject.album_id.value}}" title="{{displayAlbumTitle _source.subject}}">
                        <img src="{{_source.subject.lastfm_med_image_url}}">
                    </a>
                </div>
                <div class="col-sm-3 search_result__col">
                    <a href="/music/artist/{{getArtistKeyProp _source.subject.album_artist}}" title="{{displayAlbumArtist _source.subject}}">{{displayAlbumArtist _source.subject}}</a>
                </div>
                <div class="col-sm-3 search_result__col">
                    <a href="/music/album/{{_source.subject.album_id.value}}" title="{{displayAlbumTitle _source.subject}}">{{displayAlbumTitle _source.subject}}</a>
                </div>
                <div class="col-sm-5 search_result__col">
                    <ul class="list-unstyled">
                    {{#each highlight.unsafe_text}}
                        <li class="text-muted whitespace-initial">{{{prepareFragment this}}}</li>
                    {{/each}}
                    </ul>
                </div>
            </div>
        </li>
    {{else}}
        <p>No reviews found</p>
    {{/each}}
    {{#if showAllLink}}
        <li class="border-top py-2">
            <a href="/music/search/document?term={{query.term}}">view all {{results.count}} reviews...</a>
        </li>
    {{/if}}
    {{#if results.hits.length}}
    </ul>
    {{/if}}
</div>