{{> search/result.header title='Tracks'}}
<div class="row no-gutters">
    {{#if results.hits.length}}
    <ul class="list-unstyled col-sm-12">
        <li class="row no-gutters py-2">
            <div class="col-sm-4">Artist</div>
            <div class="col-sm-4">Album</div>
            <div class="col-sm-3">Track</div>
            <div class="col-sm-1">Duration</div>
        </li>
    {{/if}}
    {{#each results.hits}}
        <li class="row no-gutters border-top py-2">
            <div class="col-sm-4 search_result__col">
                <a href="/music/album/{{_source.album.album_id.value}}" title="{{displayAlbumArtist _source.album}}">{{displayAlbumArtist _source.album}}</a>
            </div>
            <div class="col-sm-4 search_result__col">
                <a href="/music/album/{{_source.album.album_id.value}}" title="{{displayAlbumTitle _source.album}}">{{displayAlbumTitle _source.album}}</a>
            </div>
            <div class="col-sm-3 search_result__col">
                <a href="/music/album/{{_source.album.album_id.value}}" title="{{_source.title}}">{{_source.title}}</a>
                {{#if (isExplicit _source)}}          
                    <span class="ml-1">🚫</span>
                {{else if (isRecommended _source)}}                    
                    <span class="ml-1">⭐️</span>
                {{/if}}
            </div>
            <div class="col-sm-1 search_result__col">
                <a href="/music/album/{{_source.album.album_id.value}}" title="duration">{{formatMinutesAndSeconds _source.duration_ms}}</a>
            </div>
        </li>
    {{else}}
        <p>No tracks found</p>
    {{/each}}
    {{#if showAllLink}}
        <li class="border-top py-2">
            <a href="/music/search/track?term={{term}}">view all {{results.count}} tracks...</a>
        </li>
    {{/if}}
    {{#if results.hits.length}}
    </ul>
    {{/if}}
</div>