<form id="filters" class="form-inline form-row pl-2" action="/music/search/track" method="get"> 
    <div class="form-group col-lg-2">
      <label class="" for="search">Track/album/artist name</label>
      <input class="form-control w-100" id="search" name="term" type="search" value="{{query.term}}" aria-label="search">
    </div>
    <div class="form-group col-lg-1 mt-1">
      <label for="track__duration_ms_gte_input">
        Min. Length
      </label>
      <select id="track__duration_ms_gte_input" class="form-control w-100" name="track[duration_ms][gte]">
        <option value="0" {{isSelected query.track.duration_ms.gte 0}}>0:00</option>
        <option value="30000" {{isSelected query.track.duration_ms.gte 30000}}>0:30</option>
        <option value="60000" {{isSelected query.track.duration_ms.gte 60000}}>1:00</option>
        <option value="90000" {{isSelected query.track.duration_ms.gte 90000}}>1:30</option>
        <option value="120000" {{isSelected query.track.duration_ms.gte 120000}}>2:00</option>
        <option value="150000" {{isSelected query.track.duration_ms.gte 150000}}>2:30</option>
        <option value="180000" {{isSelected query.track.duration_ms.gte 180000}}>3:00</option>
        <option value="210000" {{isSelected query.track.duration_ms.gte 210000}}>3:30</option>
        <option value="240000" {{isSelected query.track.duration_ms.gte 240000}}>4:00</option>
        <option value="270000" {{isSelected query.track.duration_ms.gte 270000}}>4:30</option>
        <option value="300000" {{isSelected query.track.duration_ms.gte 300000}}>5:00</option>              
        <option value="360000" {{isSelected query.track.duration_ms.gte 360000}}>6:00</option>              
        <option value="420000" {{isSelected query.track.duration_ms.gte 420000}}>7:00</option>              
        <option value="480000" {{isSelected query.track.duration_ms.gte 480000}}>8:00</option>              
        <option value="540000" {{isSelected query.track.duration_ms.gte 540000}}>9:00</option>              
        <option value="600000" {{isSelected query.track.duration_ms.gte 600000}}>10:00</option>
      </select>
    </div>
    <div class="form-group col-lg-1 mt-1">
      <label for="track__duration_ms_lte_input">
        Max. Length
      </label>
      <select id="track__duration_ms_lte_input" class="form-control w-100" name="track[duration_ms][lte]" value="">
        <option value="">Any</option>
        <option value="30000" {{isSelected query.track.duration_ms.lte 30000}}>0:30</option>
        <option value="60000" {{isSelected query.track.duration_ms.lte 60000}}>1:00</option>
        <option value="90000" {{isSelected query.track.duration_ms.lte 90000}}>1:30</option>
        <option value="120000" {{isSelected query.track.duration_ms.lte 120000}}>2:00</option>
        <option value="150000" {{isSelected query.track.duration_ms.lte 150000}}>2:30</option>
        <option value="180000" {{isSelected query.track.duration_ms.lte 180000}}>3:00</option>
        <option value="210000" {{isSelected query.track.duration_ms.lte 210000}}>3:30</option>
        <option value="240000" {{isSelected query.track.duration_ms.lte 240000}}>4:00</option>
        <option value="270000" {{isSelected query.track.duration_ms.lte 270000}}>4:30</option>
        <option value="300000" {{isSelected query.track.duration_ms.lte 300000}}>5:00</option>              
        <option value="360000" {{isSelected query.track.duration_ms.lte 360000}}>6:00</option>              
        <option value="420000" {{isSelected query.track.duration_ms.lte 420000}}>7:00</option>              
        <option value="480000" {{isSelected query.track.duration_ms.lte 480000}}>8:00</option>              
        <option value="540000" {{isSelected query.track.duration_ms.lte 540000}}>9:00</option>              
        <option value="600000" {{isSelected query.track.duration_ms.lte 600000}}>10:00</option>
      </select>
    </div>
    <div class="form-group col-lg-2 mt-1">    
      <label class="w-100">&nbsp;</label>
      <label class="badge badge-light ml-1 py-0" for="is_recommended">  
        <input class="form-control mr-1" id="is_recommended" name="track[is_recommended]" type="checkbox" value="true" {{isChecked query.track.is_recommended "true"}}>       
        Recommended ⭐️
      </label> 
    </div>
    <div class="form-group col-lg-2 mt-1">
      <label class="" for="label">Label</label>
      <input class="form-control w-100" id="label" name="track[album][label]" type="search" value="{{query.track.album.label}}">
    </div>
    <div class="form-group col-lg-1 mt-1">
      <label class="" for="year">Year</label>
      <input class="form-control w-100" id="year" name="track[album][year]" type="number" value="{{query.track.album.year}}">
    </div>
    <div class="form-group col-lg-1 mt-1">
      <label for="rotation">Rotation</label>
      <select id="rotation" class="form-control w-100" name="track[album][rotation]">
        <option value="any">Any</option>
        <option value="heavy_rotation" {{isSelected query.track.album.rotation "heavy_rotation"}}>Heavy</option>
        <option value="light_rotation" {{isSelected query.track.album.rotation "light_rotation"}}>Light</option>
      </select>
    </div>
    <div class="form-group col-lg-1 mt-1">
      <label for="local">Local</label>
      <select id="local" class="form-control w-100" name="track[album][local]">
        <option value="any">Any</option>
        <option value="local_current" {{isSelected query.track.album.local "local_current"}}>Current</option>
        <option value="local_classic" {{isSelected query.track.album.local "local_classic"}}>Classic</option>
      </select>
    </div>
    <div class="form-group col-lg-1 mt-1 mr-1">    
      <label class="w-100">&nbsp;</label>
      <label class="badge badge-info ml-1 py-0" for="is_compilation">  
        <input class="form-control mr-1" id="is_compilation" name="track[album][is_compilation]" type="checkbox" value="true" {{isChecked query.track.album.is_compilation "true"}}>       
        Compilation        
      </label> 
    </div>
    <div class="form-group col-xl-2 mt-1">
      <label class="w-100">&nbsp;</label>
      <div class="flex-row">
        <button class="btn btn-primary" type="submit">Search</button>
        <a class="btn btn-link" href="/music/search/track">clear filters</a>
      </div>
    </div>
</form>

<script>
  function removeNamesWithoutValues(event) {
    const inputs = event.target.querySelectorAll("input");
    for(const input of inputs) {
      if(input.value === "") {
        input.removeAttribute("name");
      }
    }
  }

  document.querySelector('#filters').addEventListener('submit', removeNamesWithoutValues);
</script>