<h1>Rotation Plays</h1>

<div class="row justify-content-between px-4">
  <form class="form-inline" action="#" method="get">
    <label for="start" class="mr-sm-2">Start</label>
    <input id="start" name="start" type="date" class="form-control mb-2 mr-sm-4" value="{{start}}">

    <label for="end" class="mr-sm-2">End</label>
    <input id="end" name="end" type="date" class="form-control mb-2 mr-sm-4" value="{{end}}">

    <button type="submit" class="btn btn-primary mb-2">Run Report</button>
  </form>

  <div>    
    <a class="btn btn-primary" role="button" href="?download=csv{{addStartAndEndDates query}}" target="_blank">Download CSV</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#html-modal">
      Copy HTML List
    </button>
  </div>
</div>

<div class="modal fade" id="html-modal" tabindex="-1" role="dialog" aria-labelledby="html-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="html-modal-label">Top 50 HTML List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column">        
        <textarea id="html-list" rows="10">
<ol>
  {{#each topFifty}}
  <li><strong>{{displayAlbumArtist this}}</strong> &ndash; <em>{{title}}</em> ({{label}})</li>
  {{/each}}
</ol>
        </textarea>
      </div>
      <div class="modal-footer">
        <span id="copied-alert" class="muted small d-none" role="alert">
          copied
        </span>       
        <button id="copy-html-to-clipboard" type="button" class="btn btn-primary">Copy to clipboard</button>
      </div>
    </div>
  </div>
</div>

<script>
  function copyHtml() {
    var source = document.querySelector("#html-list");
    source.select();
    document.execCommand("copy");
    document.querySelector('#copied-alert').classList.remove('d-none');
  }

  document.querySelector("#copy-html-to-clipboard").addEventListener("click", copyHtml);

  $('#html-modal').on('hidden.bs.modal', function (e) {    
    document.querySelector('#copied-alert').classList.add('d-none');
  });
</script>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Artist</th>
      <th scope="col">Album</th>
      <th scope="col">Label</th>
      <th scope="col">Play Count</th>
      <th scope="col">Rotation</th>
      <th scope="col">Date Added</th>
    </tr>
  </thead>
  <tbody>
  {{#each albums}}
    <tr>
      <td><button type="button" class="btn btn-light text-primary expand__btn" data-toggle="collapse" data-target="#a{{album_id.value}}" aria-expanded="false" aria-controls="a{{album_id.value}}"></button></td>
      <td>{{inc @index}}</td>
      <td>{{displayAlbumArtist this}}</td>
      <td>
        <a href="/music/album/{{album_id.value}}">{{title}}</a>
      </td>
      <td>{{label}}</td>
      <td>{{play_count}}</td>
      <td>
        {{#each current_tags}}
          <li class="list-inline-item badge badge-secondary">{{formatTag this}}</li>
        {{/each}}
      </td>
      <td>{{formatDate date_added}}</td>
    </tr>     
    <tr id="a{{album_id.value}}" class="collapse">
      <td></td>
      <td colspan="7">
        <table class="table table-borderless table-striped table-sm">
          {{#each plays}}
          <tr>
            <td>{{formatDate established}} {{formatTime established}}</td>
            <td>"{{displayPlaylistTrackTitle this}}"</td>
            <td>{{formatDJName selector}}</td>
          </tr>
          {{/each}}          
        </table>            
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>