<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{{title}}}</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M6XM24GCTX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-M6XM24GCTX');
  </script>
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-sm bg-primary">
    <a class="navbar-brand" href="/">NextUp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{isActive 'music' activeNav}}" href="/music" id="music-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Music
          </a>
          <div class="dropdown-menu" aria-labelledby="music-menu-link">
            <a class="dropdown-item" href="/music">Home</a>
            <a class="dropdown-item" href="/music/search">Search</a>
            <a class="dropdown-item" href="/music/tag/heavy_rotation">Heavy Rotation</a>
            <a class="dropdown-item" href="/music/tag/light_rotation">Light Rotation</a>
            <a class="dropdown-item" href="/music/library_adds">Library Adds</a>
          </div>
        </li>        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{isActive 'reports' activeNav}}" href="#" id="reports-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reports
          </a>
          <div class="dropdown-menu" aria-labelledby="reports-menu-link">
            <a class="dropdown-item" href="/reports/rotation/plays">Rotation Plays</a>
            <a class="dropdown-item" href="/reports/rotation/albums">Rotation Albums</a>
          </div>
        </li>
      </ul>
      <form id="navbarSearch" class="form-inline my-2 my-lg-0 {{isInvisible hideSearch}}" action="/music/search" method="get">
        <input class="form-control mr-sm-2" type="search" name="term" placeholder="Search" aria-label="Search">        
      </form>
      <div class="dropdown">
        <button class="btn btn-outline-link navbar-text dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{{user.first_name}}} {{{user.last_name}}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/auth/logout">logout</a>
        </div>
      </div>
    </div> 
  </nav>

  <div class="container-fluid py-3">
    {{#each successMessages}}
      <div class="alert alert-success" role="alert">
        {{{this}}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/each}}
    {{{body}}}
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
  const form = document.getElementById('navbarSearch');
  
  function onSubmit(event) {
    event.preventDefault();    
    gtag('event', 'Search', {
      'event_category': 'Music', 
      'event_label': 'Navbar',
      'event_callback': function() {
        form.submit();
      }
    });
  }

  form.addEventListener('submit', onSubmit);
</script>

</html>